.actions__add {
  margin-bottom: 20px;
}

hr {
  width: 100%;
  margin: 1rem 0;
  color: inherit;
  background-color: #ccc;
  border: 1px solid !important;
  border: 0;
  opacity: 0.25;
}

.empty__addresses {
  font-size: 12px;
  font-weight: 900;
}

.btn__small {
  padding: 5px;
  font-size: 11px;
}
