<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="form-group">
        <label>Nome: </label>
        <input type="text" formControlName="name" required />
        <div
          *ngIf="name?.invalid && (name?.dirty || name?.touched)"
          class="alert"
        >
          <small *ngIf="name?.errors?.['required']">Campo e requiredo. </small>
          <small *ngIf="name?.errors?.['name']">
            Campo ter que ser name valido.
          </small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="form-group">
        <label>Data Nascimento: </label>
        <input type="date" formControlName="birthday" required />
        <div
          *ngIf="birthday?.invalid && (birthday?.dirty || birthday?.touched)"
          class="alert"
        >
          <small *ngIf="birthday?.errors?.['required']"
            >Campo e requiredo.
          </small>
          <small *ngIf="birthday?.errors?.['birthday']">
            Campo ter que ser name valido.
          </small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="form-group">
        <label>CPF: </label>
        <input
          type="text"
          formControlName="cpf"
          [imask]="{ mask: '000.000.000-00' }"
          [unmask]="true"
          required
        />
        <div *ngIf="cpf?.invalid && (cpf?.dirty || cpf?.touched)" class="alert">
          <small *ngIf="cpf?.errors?.['required']">Campo e requiredo. </small>
          <small *ngIf="cpf?.errors?.['minlength']">
            Campo deve conter no minimo
            {{ cpf?.errors?.minlength?.requiredLength }} caracteres.
          </small>
          <small *ngIf="cpf?.errors?.['cpf']">
            Campo ter que ser name valido.
          </small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="form-group">
        <label>RG: </label>
        <input
          type="text"
          formControlName="rg"
          [imask]="{ mask: '00.000.000-**' }"
          [unmask]="true"
          required
        />
        <div *ngIf="rg?.invalid && (rg?.dirty || rg?.touched)" class="alert">
          <small *ngIf="rg?.errors?.['required']">Campo e requiredo. </small>
          <small *ngIf="rg?.errors?.['rg']">
            Campo ter que ser name valido.
          </small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <div class="form-group">
        <label>Telefone: </label>
        <input
          type="text"
          formControlName="phone"
          [imask]="{ mask: '(00) 00000-0000' }"
          [unmask]="true"
          required
        />
        <div
          *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)"
          class="alert"
        >
          <small *ngIf="phone?.errors?.['required']">Campo e requiredo. </small>
          <small *ngIf="phone?.errors?.['minlength']">
            Campo deve conter no minimo
            {{ phone?.errors?.minlength?.requiredLength }} caracteres.
          </small>
          <small *ngIf="phone?.errors?.['phone']">
            Campo ter que ser name valido.
          </small>
        </div>
      </div>
    </div>
  </div>

  <div class="form-action">
    <button class="btn" [disabled]="!formGroup.valid" type="submit">
      SALVAR
    </button>
    <button class="btn" type="button" (click)="back()">VOLTAR</button>
  </div>
</form>
